apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: course-app-ingress
  labels:
    app: course-app
spec:
  rules:
    - host: PLACEHOLDER
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: course-app-service
                port:
                  number: 80
